<?php
	namespace Application;
?>
<div class="span10 tab-content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon profil</a> <span class="divider">/</span>
			</li>			
			<li>
				<a href="#">Paramètres du compte</a>
			</li>
		</ul>
	</div>
	<div class="row-fluid sortable">    	
		<div class="box span4">	  	
        	<div class="box-header well" data-original-title="">
				<h2> <i class="icon-user"></i> Infos sur l'utilisateur</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">
				<div class="row-fluid" style="padding:10px;">
					<?php if(isset($error)) {
						if($error == true){?>
							<div class="alert alert-error">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong><?php echo $error_str;?> !</strong>
							</div>							
						<?php }
						else{?>							
							<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong><?php echo $error_str; ?></strong>
							</div>
						<?php }
					}?>                	                	                	
                	<!-- Modifier l'adresse e-mail : Nouvelle adresse e-mail : Confirmez l'adresse e-mail => Mot de passe Dropbox -->                	                	
                	<form class="form-horizontal" action="/app/profil/updateInfo" method="POST">
                	
                	<table id="updInfoMail" class="spaced-table" style="display:table;border-collapse:separate;border-spacing: 10px;border-color: gray;">
                	<tbody>             
                			<tr>
                				<td class="row-header">Display Name</td>
                				<td>
                					<input class="input-xmedium focused" name="display_name" type="text" value="<?php echo $user->__get('display_name');?>">
                				</td>
                			</tr>
                			<tr>
                				<td class="row-header">User Name</td>
                				<td>
                					<input class="input-xmedium focused" name="username" type="text" value="<?php echo $user->__get('username');?>">
                				</td>
                			</tr>
                			
                			<tr>
                				<td class="row-header">E-mail</td>
                				<td id="updateMail" style="line-height: 22px"><?php echo $user->__get('email')?> <a data-toggle="modal" href="#UpMail" >Modifier</a></td>
                			</tr>
                			<tr>
                				<td class="row-header">                					
                						<button type="submit" class="btn btn-primary">Save</button>
                				</td>
                				<td></td>
                			</tr>                			
                		</tbody>
                	</table>						
                	</form> 
            	</div>								
			</div>						
       	</div>
       	<div class="box span3">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-lock"></i> Connexion au compte</h2>
				<div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>
			<div class="box-content">
			<?php if(isset($error_pass)) {
						if($error_pass == true){?>
							<div class="alert alert-error">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong><?php echo $error_str_pass;?> !</strong>
							</div>							
						<?php }
						else{?>							
							<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong><?php echo $error_str_pass; ?></strong>
							</div>
						<?php }
					}?>             
            	<div class="row-fluid" style="padding:10px;">
                	<table class="spaced-table" style="display:table;border-collapse:separate;border-spacing: 10px;border-color: gray;">
                		<tbody>
                			<tr>
                				<td class="row-header">E-mail</td>
                				<td><p><?php echo $user->__get('email')?></p></td>
                			</tr>
                			<tr>
                				<td class="row-header">Mot de passe</td>
                				<td style="line-height: 22px">
                					<a data-toggle="modal" href="#show-change-password" >Modifier le mot de passe</a><br>
                					<!-- <a data-toggle="modal" href="#forgot-password" >Mot de passe oublié&nbsp;?</a> -->
                				</td>
                			</tr>                			
                		</tbody>
                	</table>
            	</div>                   
         	</div>
		</div><!--/span-->
		<div class="box span4">	  	
        	<div class="box-header well" data-original-title="">
				<h2> <i class="icon-edit"></i> Réseaux sociaux</h2>
				<div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">
				<div class="row-fluid" style="padding:10px;">
                	<table class="spaced-table" style="display:table;border-collapse:separate;border-spacing: 10px;border-color: gray;">
                		<tbody>
                			<tr class="has-authed">
                				<td align="right">Facebook</td>
                				<td id="deauth_facebook" class="deauth-service">
                					<span id="facebook_username">hamzalaterem</span>
                					<!-- <span id="facebook_username">No connected</span> -->
                				</td>
                				<td id="auth_facebook" class="auth-service">
                					(<a href="#"  onclick="facebookDissocier();">dissocier</a>)
                					<!-- <a onclick="facebookAssocier()">Se connecter avec Facebook</a> -->
                				</td>
                			</tr>
                			
                			<tr class="has-authed">
                				<td align="left">Twitter</td>
                				<td id="deauth_facebook" class="deauth-service">
                					<!-- <span id="twitter_username">Connected</span> -->
                					<span id="twitter_username">No connected</span>                					
                				</td>
                				<td id="auth_twitter" class="auth-service">
                					<!--(<a onclick="twitterDissocier();">dissocier</a>)-->
                					 <a href="#" onclick="twitterAssocier()">Se connecter avec Twitter</a> 
                				</td>
                			</tr>
                			                			
                		</tbody>
                	</table>
            	</div>  													
			</div>								
       	</div>
     </div>
     
     
     	<div class="row-fluid sortable">    	
		
       	<div class="box span6">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-envelope"></i> Préférences relatives aux e-mails</h2>
				<div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
            	<div class="row-fluid" style="padding:10px;">
                	<div class="fieldset sync-height email-prefs" style="height: 176px;">
                		<p><span class="account-subheader">Je souhaite recevoir par e-mail&nbsp;:</span></p>
                		<table class="spaced-table" style="display:table;border-collapse:separate;border-spacing:2px;border-color:gray;margin:10px;">
                			<tbody>
                				
                				<tr>
                					<td valign="top"><input type="checkbox" checked="checked" name="no_quota_warning" value="true" id="no_quota_warning"></td>
                					<td><label for="no_quota_warning">Lorsque l'ajout d'un projet, d'une tâche, d'un jalon</label></td>
                				</tr>
                				<tr>
                					<td valign="top"><input type="checkbox" checked="checked" name="nonewsletter" value="true" id="nonewsletter"></td>
                					<td><label for="nonewsletter">Mes statisques chaque mois</label></td>
                				</tr>
                				<tr>
                					<td valign="top"><input type="checkbox" checked="checked" name="notips" value="true" id="notips"></td>
                					<td><label for="notips">Les conseils Eprojets</label></td>
                				</tr>
                				<tr>
                					<td valign="top"><input type="checkbox" checked="checked" name="api_announcement_emails" value="true" id="api_announcement_emails"></td>
                					<td><label for="api_announcement_emails">Nouvelle mise a jour Eprojets</label></td>
                				</tr>
                				
                				<tr>
	                				<td class="row-header"><button  type="submit" class="btn btn-primary">Save</button></td>
	                				<td></td>
                				</tr> 
                			</tbody>
                		</table>
                	</div>
            	</div>                   
         	</div>
		</div><!--/span-->		
     </div> 	  
</div>
<!-- Modal for update mail -->
  <div class="modal fade" id="UpMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-envelope"></i> Modifier l'adresse e-mail</h4>
        </div>
        <form action="/app/profil/updateMail" method="POST">
        <div class="modal-body">
       		<div class="control-group">				
				<div class="controls">				
					<div class="input-prepend">
						<span class="add-on">@</span><input name="newMail" size="16" type="text" placeholder="Nouvelle adresse e-mail">
					 </div>					
				</div>
			</div>
			<div class="control-group">				
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">@</span><input name="confirmMail" size="16" type="text" placeholder="Confirmez l'adresse e-mail">
					 </div>
				</div>
			</div>
			<div class="control-group">				
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">*</span><input name="password" size="16" type="password" placeholder="Mot de passe Eprojets">
					 </div>
				</div>
			</div>	 
        </div>
        <div class="modal-footer">
        	<button  type="submit" class="btn btn-success">Modifier l'adresse e-mail</button>               
            <button class="btn" data-dismiss="modal">Annuler</button>       
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <!-- Modal for change password -->
  <div class="modal fade" id="show-change-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-exclamation-sign"></i> Modifier le mot de passe</h4>
        </div>
        <form action="/app/profil/updatePassword" method="POST">
        <div class="modal-body">
       		<div class="control-group">				
				<div class="controls">
					<div class="input-prepend">
						<input id="oldPassword" size="16" type="password" name="oldPassword" placeholder="Ancien mot de passe">
					 </div>					
				</div>
			</div>
			<div class="control-group">				
				<div class="controls">
					<div class="input-prepend">
						<input id="newPassword" size="16" type="password" name="newPassword" placeholder="Nouveau mot de passe">
					 </div>
				</div>
			</div>			
        </div>
        <div class="modal-footer"> 
        	<button class="btn btn-success" id="updatePassword">Modifier le mot de passe</button>               
            <button class="btn" data-dismiss="modal">Annuler</button>       
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal for forget password -->
  <div class="modal fade" id="forgot-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon-exclamation-sign"></i> Mot de passe oublié ?</h4>
        </div>
        <div class="modal-body">
       		<div class="control-group">				
				<div class="controls">
					<p>Saisissez votre adresse e-mail pour réinitialiser votre mot de passe. Vous devrez peut-être consulter votre dossier de spams ou autoriser no-reply@eprojets.com.</p>
					<div class="input-prepend">
						<span class="add-on">@</span><input id="myMail" size="16" type="text" placeholder="E-mail">
					 </div>					
				</div>
			</div>			 
        </div>
        <div class="modal-footer"> 
        	<button class="btn btn-success" id="sendPassword">Envoyer</button>               
            <button class="btn" data-dismiss="modal">Annuler</button>       
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->