<?php
	namespace Application;
?>
<div class="span10">	  	
	<div class="navbar navbar-static" id="navbar-example">
		
	</div>
	<hr/>
	<div class="span12 project-container">			
						<div class="span12 no-margin-left" style="padding:10px;">		  	                			    						    							
							<h4 class="app-title">Bienvenue dans votre espace</h4>
							<?php echo $this->DisplayMyProjectsBoard($this->zfcUserIdentity()->getId())?>
		  				</div>                           
					</div>


</div>








