<?php
	namespace Application;
?>
<div class="span10 tab-content">	  	
	<div class="navbar navbar-static" id="navbar-example">
		<div class="navbar-inner">
        	<div style="width: auto;" class="container">
            	<a href="#" class="brand"><?php echo $currentProject->name?></a>
                <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
<a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>
                <a href="/app/project/<?php echo $currentProject->id ?>/tasks"><button class="btn btn-primary" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>
                <button class="btn" type="button"><i class="icon-time"></i> Discussions</button>
                <button class="btn" type="button"><i class="icon-book"></i> Documents</button>                 
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-signal"></i> Statistiques</button></a>
                <div class="nav pull-right">	            	
					<a href="/app/users/project/<?php echo $currentProject->id?>"><button class="btn btn-success" type="button"><i class="icon-eye-open"></i> Gérer les membres</button></a>                                         
                </div>               
			</div>
		</div>
	</div>
	<hr/>
	<div class="span12 project-container">			
		<div class="span9 no-margin-left">		  	
        	<div class="btn-group mt_5" style="float:right">
    			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Toutes les applications<span class="caret"></span>
				</a>
    			<ul class="dropdown-menu">
    				<li><a href="#">Tâches</a></li>
					<li><a href="#">Discussions</a></li>
					<li><a href="#">Jalons</a></li>
					<li><a href="#">Documents</a></li>
					<li><a href="#">Wiki</a></li>
    			</ul>
    		</div>
			<h4 class="app-title">Tâches du projet</h4>
			<hr>
			<form>
				<div class="listUsersProject">
				

						<table cellpadding="0" cellspacing="0" border="0" class="display" id="listUsersProject">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nom</th>
								<th>Créé par</th>
								<th>Début</th>			
								<th>Fin</th>
								<th>Avancement</th>
								<th>Actions</th>
							</tr>
						</thead>	
						<tbody> 
							<?php foreach($tasks as $t) : ?>
							<tr class="odd_gradeX" id="<?php echo $this->escapeHtml($t->id);?>">
								<td align="center"><?php echo $this->escapeHtml($t->id);?></td>
								<td align="center"><?php  echo $this->escapeHtml($t->__get('name')); ?></td>
								<td align="center"><?php echo $this->escapeHtml($t->__get('user')->__get('display_name')); ?></td>
								<td align="center"><?php echo $this->escapeHtml($t->__get('startdate'));?></td>
								<td align="center"><?php echo $this->escapeHtml($t->__get('enddate'));?></td>
								<td align="center"><?php echo $this->escapeHtml("avancement");?></td>
								<td align="center">											   
									<a href="#" class="delete-task"><button class="btn" type="button"><i class="icon-remove"></i> Suprimer</button></a>							    
									<a href="#" class="edit-task"><button class="btn" type="button"><i class="icon-remove"></i> Modifier</button></a>
								</td>
							</tr>
							<?php endforeach; ?>		
						</tbody>
					</table>				
					
				</div>
			</form>
       	</div>
		<?php echo $this->displayProjectMembers($currentProject)?>                          
	</div>
</div>








