<?php
	namespace Application;
	
	//echo $this->displayTimeLine($dataTimeLine);
	

?>
<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?></a><span class="divider">/</span>
			</li>
			<li>
				<a href="#">Timeline</a> 
			</li>
			
		</ul>
	</div>		  	
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn btn-primary" type="button"><i class="icon-road"></i> Timeline</button></a>
<a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class=" icon-signal"></i> Statistiques</button></a>
                <div class="nav pull-right">	            	
					<a href="/app/users/project/<?php echo $currentProject->id?>"><button class="btn btn-success" type="button"><i class="icon-eye-open"></i> Gérer les membres</button></a>                                         
                </div>               
			</div>
		</div>
	</div>
	
	<div class="row-fluid sortable ui-sortable">
		<div class="box span9">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-road"></i> Activité du projet</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content timeline">															
				<?php echo $this->displayTimeLine($this); ?>
			</div>
		</div>  	
		<div class="box span3">
		<div class="box-header well" data-original-title="">
				<h2><i class="icon-user"></i> Membres du projet</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">															
				<?php echo $this->displayProjectMembers($currentProject); ?>
			</div>
		</div>        	
	</div>
</div>
</div>
