<?php
	namespace Application;
?>

<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="/app">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?> </a> <span class="divider">/</span>
			</li>						
			<li>
				<a href="#">Jalon</a>
				</li>						
		</ul>
	</div>		  	
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
<a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> stats</button></a>
                <div class="nav pull-right">
                	<a data-toggle="modal" class="muted" role="button" href="/app/jalon/add/project/<?php echo $currentProject->id;?>">	
							<button class="btn btn-success" type="button"><i class="icon-plus"></i> Nouveau jalon</button>
					</a>                                  
                </div>               
			</div>
		</div>
	
	</div>
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-flag"></i> Ajout d'un jalon</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">
				<form class="formular form-horizontal" action="/app/jalon/add/project/<?php echo $currentProject->id ?>" method="POST">
					<fieldset>							
						<div class="control-group">
							<label class="control-label" for="typeahead">Nom du jalon </label>
							<div class="controls">
								<input name="name" type="text" class="validate[required,length[0,50]] span6 typeahead" id="name"  data-provide="typeahead" data-items="4" data-source='[""]'>								
							</div>
						</div>
							          
						<div class="control-group">
							<label class="control-label" for="textarea2">Description</label>
							<div class="controls">
								<textarea name="description" class="cleditor" id="textarea2" rows="3"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label for="date" class="control-label">Date </label>
							<div class="controls">
								<input name="date" type="text" id="date" value="" class="validate[required] text-input datepicker">
							</div>
						</div>	
						<!-- // TODO : DEBUG
						<div class="control-group">
							<div class="controls">
								<select data-rel="chosen" id="selectError" style="display: none;" class="chzn-done">
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
									<option>Option 4</option>
									<option>Option 5</option>
								</select>
								<div id="selectError_chzn" class="chzn-container chzn-container-single" style="width: 220px;">
									<a class="chzn-single" href="javascript:void(0)" tabindex="0">
										<span>Option 1</span>
										<div><b></b></div>
									</a>
									<div style="left: -9000px; width: 218px; top: 24px;" class="chzn-drop">
										<div class="chzn-search"><input type="text" autocomplete="off" style="width: 183px;" tabindex="-1"></div>
										<ul class="chzn-results">
											<li style="" class="active-result result-selected" id="selectError_chzn_o_0">Option 1</li>
											<li style="" class="active-result" id="selectError_chzn_o_1">Option 2</li>
											<li style="" class="active-result" id="selectError_chzn_o_2">Option 3</li>
											<li style="" class="active-result" id="selectError_chzn_o_3">Option 4</li>
											<li style="" class="active-result" id="selectError_chzn_o_4">Option 5</li>
										</ul>
									</div>
								</div>
							</div>
						</div>																													
						 -->
						<div class="control-group">							
							<label for="" class="control-label">Assigner un responsable</label>
							<div class="controls">
								<select name="responsable">
		  							<option value="-1" selected>Pas de responsable</option>
		  							<?php foreach ($users as $u){?>
		  							<option value="<?php echo $u->user->__get('user_id');?>" >
		  								<?php echo $u->user->__get('display_name');?>
		  							</option>
		  							<?php }?>
								</select>																		
							</div>
						</div>																						       																								
						
						<div class="form-actions">
							<button type="submit" class="submit btn btn-primary">Enregistrer</button>
							<a href="/app/jalon/project/<?php echo $currentProject->id ?>">
								<button type="reset" class="btn">Annuler</button>
							</a>
						</div>
						
					</fieldset>
				</form> 																			
			</div>
		</div> 
	</div>
</div>
</div>
