<?php
	namespace Application;
?>
<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?></a><span class="divider">/</span>
			</li>
			<li>
				<a href="#">Jalon</a> 
			</li>
			
		</ul>
	</div>		  	
	
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
<a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-signal"></i> Statistiques</button></a>
                <div class="nav pull-right">
                	<a data-toggle="modal" class="muted" role="button" href="/app/jalon/add/project/<?php echo $currentProject->id;?>">	
							<button class="btn btn-success" type="button"><i class="icon-plus"></i> Nouveau jalon</button>
					</a>                                  
                </div>               
			</div>
		</div>
	</div>
	<div class="row-fluid sortable ui-sortable">		
		<div class="box span12">	  	
        	<div class="box-header well" data-original-title="">
				<h2><i class="icon-flag"></i> Jalons du projet</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">			
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nom</th>
							<th>Créé par</th>
							<th>Date</th>											
							<th>Responsable</th>
							<th>État</th>
							<th>Actions</th>						
						</tr>
					</thead>
					<tbody> 
							<?php foreach($jalons as $t) : ?>
							<tr class="odd_gradeX" id="<?php echo $this->escapeHtml($t->id);?>">
								<td align="center"><?php echo $this->escapeHtml($t->id);?></td>
								<td align="center"><?php  echo $this->escapeHtml($t->__get('name')); ?></td>
								<td align="center"><?php echo $this->escapeHtml($t->__get('user')->__get('display_name')); ?></td>
								<td align="center"><?php echo $this->escapeHtml($t->__get('date'));?></td>
								<?php if ($t->getReponsable() == -1) {?>
									<td align="center">Pas de responsable</td>
								<?php }
								else { ?>								
									<td align="center"><?php echo $this->escapeHtml($t->__get('responsableUser')->__get('display_name'));?></td>
								<?php } ?>
								<td align="center">								
								<?php if ($t->__get('status') == 1) {?>	
									<p class="btn btn-success"> Terminé</p>											   																	
								<?php }
								else { 
									$date = date("Y-m-d H:i:s");
									if ($t->__get('date') < $date){?>
										<p class="btn btn-danger" > En retard</p>										
									<?php }
									if ($t->__get('date') >= $date){	?>			
									<p class="btn btn-info" > En Cours</p>										
									<?php }
								}?>
								</td>
								<td align="center">
									<a href="/app/jalon/remove/<?php echo $this->escapeHtml($t->id);?>/project/<?php echo $currentProject->id;?>" class="btn btn-danger"><i class="icon-trash icon-white"></i> Suprimer</a>							    
									<a href="/app/jalon/update/<?php echo $this->escapeHtml($t->id);?>/project/<?php echo $currentProject->id;?>" class="btn btn-info"><i class="icon-edit icon-white"></i> Editer</a>
								</td>
							</tr>
							<?php endforeach; ?>		
						</tbody>				
				</table>		
			</div>								
       	</div>		                          
	</div>
</div>