<?php 
// This is how to access in the layout to thes vars sent by controller to views
$children = $this->viewModel()->getCurrent()->getChildren();
$data = $children[0];

?>
<?php echo $this->doctype(); ?>
<?php $uri = $_SERVER['REQUEST_URI'];  ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<title>Eprojets | Outil de gestion de projets en ligne</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

   		 <!-- Le styles -->
		<link href="/eprojets/css/bootstrap.css" rel="stylesheet">
		<link href="/eprojets/css/cupertino/theme.css" rel="stylesheet">
		<style type="text/css" title="currentStyle">
			@import "/eprojets/css/demo_page.css";
			@import "/eprojets/css/demo_table_jui.css";
			@import "/eprojets/css/jquery-ui-1.8.4.custom.css";
			@import "/eprojets/css/ColVis.css";
			@import "/eprojets/css/auth-buttons.css";
			@import "/eprojets/css/fullcalendar.css";
			.ColVis {
				float: left;
				margin-bottom: 0
			}
			.dataTables_length {
				width: auto;
			}
		</style>
		
		<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		</style>
		<link href="/eprojets/css/bootstrap-responsive.css" rel="stylesheet">
		<?php if (strpos($uri, 'pensebetes')){ 
			echo '<link href="/eprojets/css/pense-betes.css" rel="stylesheet">';
			}
		?>
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="/eprojets/js/bootstrap//html5shiv.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/eprojets/assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/eprojets/assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/eprojets/assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/eprojets/assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="/eprojets/assets/ico/favicon.png">

		<link href="/eprojets/datepicker/css/datepicker.css" rel="stylesheet">
    </head>
    <body>
    	    	
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<?php 
						if (strpos($uri, 'app'))
							$urlEprojets = 'app';						
						else
							$urlEprojets = 'site';
					?>
					<a class="brand" href="<?php echo $this->url($urlEprojets) ?>">Eprojets</a>
					<?php if ($data->user) : ?>
					<div class="btn-group pull-right" style="margin-top:8px">
                 		<a class="btn dropdown-toggle  btn-success btn-small" data-toggle="dropdown" href="#" title="&lt;zbahij&gt;">
                   			<i class="icon-user icon-white"></i> <?php echo $data->user->display_name; ?>
                   			<span class="caret"></span>
                		</a>
                		<ul class="dropdown-menu">
                			<li><a href="/app">Mon espace</a></li>
                  			<li><a href="/User/Profile">Profil</a></li>
                  			<li class="divider"></li>
                  			<li><a href="/user/logout">Se déconnecter</a></li>
                		</ul>
              		</div>					
					<?php else : ?>
					<a class="btn pull-right btn-info btn-small" style="margin-left:5px;margin-top:8px;" href="/user/register">S'inscrire</a>
					<a class="btn pull-right btn-info btn-small" style="margin-left:5px;margin-top:8px;" href="/user/login">S'identifier</a>
					<a class="btn pull-right btn-inverse btn-small" style="margin-left:5px;margin-top:8px;" href="/user/forgotpassword">Mot de passe oublié ?</a>
					<?php endif; ?>
					<div class="nav-collapse collapse">
					<?php echo $this->displayTopMenu($this);?>
						<div class="pull-right">
							<p>
								<?php
									if ($data->user != null):  
										//echo $data->user->__get('display_name');
									endif;							
								?>
							</p>	
						</div>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
	    <div
	    	<?php if ($uri != '/') :?> class="container-fluid"
	    	<?php else : ?> class="container"
	    	<?php endif; ?>
		>
		<?php if ($uri != '/user/login') : ?>
			<div class="row-fluid">
				<?php if (strpos($uri, 'app') || strpos($uri, 'pensebetes')) :?>
        		<div class="span2">
          			<div class="well sidebar-nav">          				 
            			<ul class="nav nav-list">
			  				<li class="nav-header">Mes projets</li>			  				
                                <?php                             	
                                	if($this->zfcUserIdentity())
										echo $this->displayMyProjects($this->zfcUserIdentity()->getId());                                	
                                ?>
							<li>
                            	<a data-toggle="modal" class="muted" role="button" href="#addProject">
                                	<i class="icon-plus"></i>
                                   		Nouveau projet
                                </a>
                             </li>              
              				<li class="nav-header">Outils</li>
              				<li <?php if ( $uri == '/pensebetes') echo 'class="active"';?>><a href="/pensebetes" >Pense-betes</a></li>
			              	<li><a href="#">Todo</a></li>
            			</ul>
          			</div><!--/.well -->
        		</div><!--/span-->
        	   
        		<?php endif; ?>
        	<?php else : ?>
        	<?php endif;?>		
				<?php echo $this->content ?>
			
			<hr>
			<footer>
				<p>&copy; Eprojets 2013</p>
			</footer>

		</div> <!-- /container -->

		
		
	<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="addProject" style="display: none;">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
		<h3 id="addProject">Nouveau projet</h3>
	</div>
    
	<form action="/app/project/add" method="POST">
	<div class="modal-body">
		<label>Nom du projet</label>
		<input name="name" type="text" placeholder="">
		
		<label>Description</label>
		<textarea name="description" rows="3" class="input-xlarge"></textarea> 	

	</div>
	<div class="modal-footer">
		<button aria-hidden="true" data-dismiss="modal" class="btn">Annuler</button>
		<button class="btn btn-primary">Ok</button>
	</div>
	</form>
</div>	
		
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/eprojets/js/jquery/jquery.js"></script>
    <script src="/eprojets/js/jquery/jquery.dataTables.js"></script>
	<script src="/eprojets/js/ColVis.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-button.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="/eprojets/js/bootstrap/bootstrap-typeahead.js"></script>
	<script src="/eprojets/js/bootstrap/bootstrap-typeahead.js"></script>
	<script src="/eprojets/js/bootstrap/bootstrap-typeahead.js"></script>
	<script src="/eprojets/js/fullcalendar.js"></script>
	<script src="/eprojets/js/custom.js"></script>
	<script src="/eprojets/datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" charset="utf-8">
			$(document).ready( function () {
				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();
				$('#calendar').fullCalendar({
					editable: true,
					eventDrop: function(event, delta) {
						alert(event.title + ' was moved ' + delta + ' days\n' +
							'(should probably update your database)');
					},
					
					loading: function(bool) {
						if (bool) $('#loading').show();
						else $('#loading').hide();
					},
					events: [
						{
							title: 'Jalon : Réunion Kick-off',
							start: new Date(y, m, d)
						},
						{
							title: 'Tâche : Analyse des besoins',
							start: new Date(y, m, d-5),
							end: new Date(y, m, d-2),
							url: '#'
						}						
					]
				}),
				$('#listUsersProject').dataTable( {
					 "bPaginate": false,
					 "oLanguage": {
				            "sLengthMenu": "Display _MENU_ records per page",
				            "sZeroRecords": "Pas de résultat",
				            "sInfo": "",
				            "sInfoEmpty": "Résultats : 0 to 0 of 0 records",
				            "sInfoFiltered": "(Filtrage à partir de _MAX_ résultats)"
				        }
				} );
			} );
		</script>
  </body>
</html> 