<?php
	namespace Application;
?>
<div id="content" class="span10">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?></a><span class="divider">/</span>
			</li>
			<li>
				<a href="#">Calendrier</a> 
			</li>
			
		</ul>
	</div>	
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
                <a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>                 
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-signal"></i> Statistiques</button></a>
                <div class="nav pull-right">	            	
					<a href="/app/users/project/<?php echo $currentProject->id?>"><button class="btn btn-success" type="button"><i class="icon-eye-open"></i> Gérer les membres</button></a>					                                         
                </div>                	               
			</div>
		</div>
	</div>
	<input type="hidden" class="projectIdForCalendar" value="<?php echo $currentProject->id; ?>" />
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-calendar"></i> Calendrier</h2>				
				<div class="box-icon">
					<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>			  	
				</div>
			</div>			
			<div class="box-content">
				<div id="calendarProject" class="fc"></div>
				<div class="clearfix"></div>				
			</div>
		 </div>
	</div>
</div>
</div>