<?php
	namespace Application;
?>
<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Mon calendrier</a> 
			</li>						
		</ul>
	</div>		  	
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-calendar"></i> Calendrier</h2>
				<div class="box-icon">
					<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>			  	
				</div>
			</div>
			<div class="box-content">
				<div id="myCalendar" class="fc"></div>
				<div class="clearfix"></div>				
			</div>
		 </div>
	</div>
</div>