body {
    padding-bottom: 40px;
}
.navbar .brand {
    font-weight:bold;
    color: rgba(0, 0, 0, 0.22);
}

footer {
    font-size:12px;
    margin-top:50px;
    margin-bottom:50px;
}
.navbar-static-top {
    position: static;
    width:auto;
    margin-bottom: 0;
}

.home-temp {
    background:rgb(27, 83, 114);
    color:#fff;
    text-align:center;
    padding:100px 0 100px 0;
    margin-bottom:50px;
    text-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
}
.home-temp-in  {
    background:rgb(27, 83, 114);
    margin-bottom:20px;

}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin:0!important;
}

.home-temp-in .span12 {
    color:#fff;
    padding:20px 20px 0px 20px;


}

pre {
font-size:10px;

}
.well {
    text-align:center;
    border:0;
}
/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    .navbar .btn-navbar {
        float:left!important;
    }


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .navbar .btn-navbar {
        float:left!important;
    }
    .test .plupload_header_title {
        font: normal 12px sans-serif!important;
        padding: 15px 15px 3px 0!important;
    }
    h2 {
        font-size:25px!important;
        line-height:25px!important;
    }

    body {

        padding:0!important;
    }

    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    h1 {
       font-size:25px;
    }
    h1 small {
        font-size:12px;
    }


}

/* Landscape phones and down */
@media (max-width: 480px) {  }

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

