<?php namespace Application; ?>
<div class="span10 tab-content">
	<h2>Mes pense-betes</h2>
	<hr>					
	<div id="sticky-notes">
		<?php foreach($pensebetes as $stickynote):?>
			<div class="sticky-note">
				<textarea class="pensebete" id="stickynote-<?php echo $stickynote->getId() ?>">
					<?php echo $stickynote->getNote() ?>
				</textarea>
				<a href="#" id="remove-<?php echo $stickynote->getId(); ?>"class="delete-sticky">X</a>
			</div>
		<?php endforeach; ?>
		<div id="create">+</div>
	</div>
<div class="clear-both">
</div>					
</div>


