<?php 
// This is how to access in the layout to thes vars sent by controller to views
$children = $this->viewModel()->getCurrent()->getChildren();
$data = $children[0];

?>
<?php echo $this->doctype(); ?>
<?php $uri = $_SERVER['REQUEST_URI'];  ?>
<html lang="fr">
    <head>
        <meta charset="utf-8">
		<title>Eprojets | Outil de gestion de projets en ligne</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

   		 <!-- Les styles -->		
		<link id="bs-css" href="/css/bootstrap-classic.css" rel="stylesheet">
		<style type="text/css">
	  		body {
				padding-bottom: 40px;
	  		}
	  		.sidebar-nav {
				padding: 9px 0;
	  		}
		</style>
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/css/eprojets-app.css" rel="stylesheet">
		<link href="/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
		<link href='/css/fullcalendar.css' rel='stylesheet'>
		<link href='/css/fullcalendar.print.css' rel='stylesheet'  media='print'>
		<link href='/css/chosen.css' rel='stylesheet'>
		<link href='/css/uniform.default.css' rel='stylesheet'>
		<link href='/css/colorbox.css' rel='stylesheet'>
		<link href='/css/jquery.cleditor.css' rel='stylesheet'>
		<link href='/css/jquery.noty.css' rel='stylesheet'>
		<link href='/css/noty_theme_default.css' rel='stylesheet'>
		<link href='/css/elfinder.min.css' rel='stylesheet'>
		<link href='/css/elfinder.theme.css' rel='stylesheet'>
		<link href='/css/jquery.iphone.toggle.css' rel='stylesheet'>
		<link href='/css/opa-icons.css' rel='stylesheet'>
		<link href='/css/uploadify.css' rel='stylesheet'>
		<link rel="stylesheet" href="/css/validationEngine.jquery.css" type="text/css" media="screen" charset="utf-8" />
		
	
		<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
	  		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fav icon -->
		<link rel="shortcut icon" href="/img/favicon.ico">
		<?php if (strpos($uri, 'pensebetes'))
			{ 
				echo '<link href="/css/pense-betes.css" rel="stylesheet">';
			}
		?>
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="/eprojets/js/bootstrap//html5shiv.js"></script>
		<![endif]-->	
    </head>
    <body>    	    	
		<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/"> <img alt="Eprojet" src="/img/logo20.png" /> <span>Eprojets</span></a>
				
				<!-- theme selector starts -->
				<div class="btn-group pull-right theme-container" >
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-tint"></i><span class="hidden-phone"> Thème</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" id="themes">
						<li><a data-value="classic" href="#"><i class="icon-blank"></i> Classic</a></li>
						<li><a data-value="blue" href="#"><i class="icon-blank"></i> Blue</a></li>
						<li><a data-value="alien" href="#"><i class="icon-blank"></i> Alien</a></li>
						<li><a data-value="red" href="#"><i class="icon-blank"></i> Red</a></li>
						<li><a data-value="newspaper" href="#"><i class="icon-blank"></i> Newspaper</a></li>
						<li><a data-value="simple" href="#"><i class="icon-blank"></i> Simple</a></li>
						<li><a data-value="slate" href="#"><i class="icon-blank"></i> Slate</a></li>
						<li><a data-value="lab" href="#"><i class="icon-blank"></i> Laboratory</a></li>
						<li><a data-value="labred" href="#"><i class="icon-blank"></i> Laboratory Red</a></li>
					</ul>
				</div>
				<!-- theme selector ends -->
				
				<!-- user dropdown starts -->
				<?php if($this->zfcUserIdentity()) : ?>
				<div class="btn-group pull-right">
                	<a class="btn dropdown-toggle  btn-success btn-small" data-toggle="dropdown" href="#" title="&lt;zbahij&gt;">
                		<i class="icon-user icon-white"></i> <?php echo $this->displayUser($this->zfcUserIdentity()->getId());?>
                		<span class="caret"></span>
                	</a>
                	<ul class="dropdown-menu">
                		<li><a href="/app">Mon espace</a></li>
                  		<li><a href="/app/Profil">Profil</a></li>
                  		<li class="divider"></li>
                  		<li><a href="/user/logout">Se déconnecter</a></li>
                	</ul>
              	</div>					
				<?php else : ?>
				<a class="btn pull-right btn-info btn-small" style="margin-left:5px;margin-top:8px;" href="/user/register">S'inscrire</a>
				<a class="btn pull-right btn-info btn-small" style="margin-left:5px;margin-top:8px;" href="/user/login">S'identifier</a>
				<a class="btn pull-right btn-inverse btn-small" style="margin-left:5px;margin-top:8px;" href="/user/forgotpassword">Mot de passe oublié ?</a>
				<?php endif; ?>
				<!-- user dropdown ends -->
				
				<div class="top-nav nav-collapse">
					<ul class="nav">						
						<li>
							<form class="navbar-search pull-left">
								<input placeholder="Rechercher" class="search-query span2" name="query" type="text">
							</form>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<!-- topbar ends -->
	    <div
	    	<?php if ($uri != '/') :?> class="container-fluid"
	    	<?php else : ?> class="container"
	    	<?php endif; ?>
		>
		<?php if ($uri != '/user/login') : ?>
			<div class="row-fluid">
				<?php if (strpos($uri, 'app') || strpos($uri, 'pensebetes')) :?>
				<!-- left menu starts -->
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">Menu</li>
						<li><a class="ajax-link" href="/app"><i class="icon-home"></i><span class="hidden-tablet"> Tableau de bord</span></a></li>
						<li <?php if ( $uri == '/pensebetes') echo 'class="active"';?>><a class="ajax-link" href="/pensebetes"><i class="icon-th"></i><span class="hidden-tablet"> Mes pense-bêtes</span></a></li>						
						<li><a class="ajax-link" href="/app/calendar"><i class="icon-calendar"></i><span class="hidden-tablet"> Mon calendrier </span></a></li>
						<li><a class="ajax-link" href="/app/statistique"><i class="icon-calendar"></i><span class="hidden-tablet"> Mes Statistiques </span></a></li>
						
						<li class="nav-header hidden-tablet">Mes projets</li>	
						<?php                             	
							if($this->zfcUserIdentity())
								echo $this->displayMyProjects($this->zfcUserIdentity()->getId());                                	
                        ?>
                        <li>
                        	<a data-toggle="modal" class="muted" role="button" href="#addProject">
                            	<i class="icon-plus"></i>Nouveau projet
                             </a>
                        </li> 										
					</ul>					
				</div><!--/.well -->
			</div><!--/span-->
			<!-- left menu ends -->  
			 		        	   
        	<?php endif; ?>
        	<?php else : ?>
        	<?php endif;?>	
        	<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Attention !</h4>
					<p><a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> est requis pour le fonctionnement</p>
				</div>
			</noscript>     	
				<?php echo $this->content ?>
			
			<hr>
			<footer>
				<p>&copy; Eprojets 2013</p>
			</footer>

		</div> <!-- /container -->

		
		
	<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="addProject" style="display: none;">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
		<h3 id="addProject">Nouveau projet</h3>
	</div>
    
	<form action="/app/project/add" method="POST">
	<div class="modal-body">
		<label>Nom du projet</label>
		<input name="name" type="text" placeholder="">
		
		<label>Description</label>
		<textarea name="description" rows="3" class="input-xlarge"></textarea> 	

	</div>
	<div class="modal-footer">
		<button aria-hidden="true" data-dismiss="modal" class="btn">Annuler</button>
		<button class="btn btn-primary">Ok</button>
	</div>
	</form>
</div>	
		
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- external javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<!-- jQuery -->
	<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
	<!-- jQuery UI -->
	<script src="/js/jquery-ui-1.8.21.custom.min.js"></script>
	<!-- transition / effect library -->
	<script src="/js/bootstrap-transition.js"></script>
	<!-- alert enhancer library -->
	<script src="/js/bootstrap-alert.js"></script>
	<!-- modal / dialog library -->
	<script src="/js/bootstrap-modal.js"></script>
	<!-- custom dropdown library -->
	<script src="/js/bootstrap-dropdown.js"></script>
	<!-- scrolspy library -->
	<script src="/js/bootstrap-scrollspy.js"></script>
	<!-- library for creating tabs -->
	<script src="/js/bootstrap-tab.js"></script>
	<!-- library for advanced tooltip -->
	<script src="/js/bootstrap-tooltip.js"></script>
	<!-- popover effect library -->
	<script src="/js/bootstrap-popover.js"></script>
	<!-- button enhancer library -->
	<script src="/js/bootstrap-button.js"></script>
	<!-- accordion library (optional, not used in demo) -->
	<script src="/js/bootstrap-collapse.js"></script>
	<!-- carousel slideshow library (optional, not used in demo) -->
	<script src="/js/bootstrap-carousel.js"></script>
	<!-- autocomplete library -->
	<script src="/js/bootstrap-typeahead.js"></script>
	<!-- tour library -->
	<script src="/js/bootstrap-tour.js"></script>
	<!-- library for cookie management -->
	<script src="/js/jquery.cookie.js"></script>
	<!-- calander plugin -->
	<script src='/js/fullcalendar.min.js'></script>
	<!-- data table plugin -->
	<script src='/js/jquery.dataTables.min.js'></script>

	<!-- chart libraries start -->
	<script src="/js/excanvas.js"></script>
	<script src="/js/jquery.flot.min.js"></script>
	<script src="/js/jquery.flot.pie.min.js"></script>
	<script src="/js/jquery.flot.stack.js"></script>
	<script src="/js/jquery.flot.resize.min.js"></script>
	<!-- chart libraries end -->

	<!-- select or dropdown enhancer -->
	<script src="/js/jquery.chosen.min.js"></script>
	<!-- checkbox, radio, and file input styler -->
	<script src="/js/jquery.uniform.min.js"></script>
	<!-- plugin for gallery image view -->
	<script src="/js/jquery.colorbox.min.js"></script>
	<!-- rich text editor library -->
	<script src="/js/jquery.cleditor.min.js"></script>
	<!-- notification plugin -->
	<script src="/js/jquery.noty.js"></script>
	<!-- file manager library -->
	<script src="/js/jquery.elfinder.min.js"></script>
	<!-- star rating plugin -->
	<script src="/js/jquery.raty.min.js"></script>
	<!-- for iOS style toggle switch -->
	<script src="/js/jquery.iphone.toggle.js"></script>
	<!-- autogrowing textarea plugin -->
	<script src="/js/jquery.autogrow-textarea.js"></script>
	<!-- chart.js plugin -->
	<script src="/Chart.js/Chart.js"></script>
	<!-- multiple file upload plugin -->
	<script src="/js/jquery.uploadify-3.1.min.js"></script>
	<!-- history.js for cross-browser state change on ajax -->
	<script src="/js/jquery.history.js"></script>
	<!-- application script  -->
	<script src="/js/jquery-ui-timepicker-addon.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/myCharts.js"></script>
	<script src="/eprojets/js/custom.js"></script>	
	<script src="/js/jquery.validationEngine-fr.js" type="text/javascript"></script>  
	<script src="/js/jquery.validationEngine.js" type="text/javascript"></script>
	
	<script type="text/javascript" charset="utf-8">
			$(document).ready( function () {
				
				$('#listUsersProject').dataTable( {
					 "bPaginate": false,
					 "oLanguage": {
				            "sLengthMenu": "Display _MENU_ records per page",
				            "sZeroRecords": "Pas de résultat",
				            "sInfo": "",
				            "sInfoEmpty": "Résultats : 0 to 0 of 0 records",
				            "sInfoFiltered": "(Filtrage à partir de _MAX_ résultats)"
				        }
				} );
			} );

			<script type="text/javascript">
				
	</script>
	
  </body>
</html> 