<?php
	namespace Application;
?>
<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?></a><span class="divider">/</span>
			</li>
			<li>
				<a href="#">Statistique</a> 
			</li>
			
		</ul>
	</div>		  	
	
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
<a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-signal"></i> Statistiques</button></a>
			</div>
		</div>
	</div>

	<input type="hidden" class="idProject" value="<?php echo $currentProject->getId() ?>">
	<div class="sortable row-fluid">
		<a data-rel="tooltip" title="Nombre de tâches affectées au projet : <?php echo $currentProject->getName() ?>" class="well span3 top-block" href="#">
			<span class="icon32 icon-green icon-suitcase"></span>
			<div>Tâches du projet</div>
			<div><?php echo $nbTask; ?></div>			
		</a>
		<a data-rel="tooltip" title="Nombre de jalons affectées au projet : <?php echo $currentProject->getName() ?>" class="well span3 top-block" href="#">
			<span class="icon32 icon-green icon-pin"></span>
			<div>Jalons du projet</div>
			<div><?php echo $nbJalon; ?></div>					
		</a>
		<a data-rel="tooltip" title="Nombre de documents affectées au projet : <?php echo $currentProject->getName() ?>" class="well span3 top-block" href="#">
			<span class="icon32 icon-green icon-book"></span>
			<div>Documents du projet</div>
			<div><?php echo $nbDoc; ?></div>			
		</a>			
		<a data-rel="tooltip" title="Nombre de ressources affectées au projet : <?php echo $currentProject->getName() ?>" class="well span3 top-block" href="#">
			<span class="icon32 icon-green icon-user"></span>
			<div>Ressource du projet</div>
			<div><?php echo $nbUser; ?></div>			
		</a>
	</div>
	<br><br>
	<div class="row-fluid sortable">
		<div class="box span6">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-color icon-calendar"></i> Tâches : finies / en-cours / en-retard</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>
			<div class="box-content">
				<div id="piechart" style="height:300px"></div>
			</div>
		</div>		
					
		<div class="box span6">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-date"></i> Jalons : terminés / restants / retards</h2>
				<div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div id="donutchart" style="height: 300px;"></div>
			</div>
		</div>
	</div>
	<br><br>
	<div class="row-fluid sortable">
		<div class="box">
			<div class="box-header well">
				<h2><i class="icon-list-alt"></i> Charge prévue / Charge réelle pour chaque tâche du projet</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div id="chargProg"  class="center" style="height:300px" ></div>
					<p id="hoverdata">Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></p>
			</div>
		</div>
	
		<div class="box">
			<div class="box-header well">
				<h2><i class="icon-list-alt"></i> Charge prévue / Charge réelle pour chaque tâche du projet</h2>
				<div class="box-icon">							
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div id="stackchart" class="center" style="height:300px;"></div>
				<p class="stackControls center">
					<input class="btn" type="button" value="With stacking">
					<input class="btn" type="button" value="Without stacking">
				</p>
				<p class="graphControls center">
					<input class="btn btn-primary" type="button" value="Bars">
					<input class="btn btn-primary" type="button" value="Lines">
					<input class="btn btn-primary" type="button" value="Lines with steps">
				</p>
			</div>
		</div>
	</div>
</div>
	