<?php
	namespace Application;
?>
<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Statistique</a> 
			</li>						
		</ul>
	</div>		  	
		
	<div class="row-fluid sortable ui-sortable">		
		<div class="box span6">	  	
        	<div class="box-header well" data-original-title="">
				<h2> Les tâches restantes, finies et en retard</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">
				<canvas style="float: left;"  class="canvasPie" id="canvasPie" height="412" width="400" ></canvas>
				<ul>
					<li>Tâches finies <img alt="" src="/img/2.PNG">  : <?php echo (int)($finishTask * 100)?>%</li>
					<li>Tâches en cours <img alt="" src="/img/3.PNG">  : <?php echo (int) ($enCourTask * 100)?>%</li>
					<li>Tâches en retard <img alt="" src="/img/1.PNG">  : <?php echo (int)($retTask * 100)?>%</li>
				</ul>							
			</div>								
       	</div>       
       	
       	<div class="box span6">	  	
        	<div class="box-header well" data-original-title="">
				<h2> Nombre de tâches assignées par projet</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">
				<canvas   class="canvasBar" id="canvasBar" height="400" width="580" ></canvas>
											
			</div>								
       	</div>
	</div>
	<div class="row-fluid sortable ui-sortable"> 
       	<div class="box span12">             
			<div class="box-header well">
				<h2><i class="icon-list-alt"></i> Charge/Progression des tâches</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div id="sincos"  class="center" style="height:300px" ></div>
					<p id="hoverdata">Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></p>
			</div>
		</div>	
	</div>
</div>
<script type="text/javascript" charset="utf-8">
function pieChart(){
	var pieData = [
	     			{
	     				value: <?php echo $retTask ?>,
	     				color:"#F38630"
	     			},
	     			{
	     				value : <?php echo $enCourTask ?>,
	     				color : "#E0E4CC"
	     			},
	     			{
	     				value : <?php echo $finishTask ?>,
	     				color : "#69D2E7"
	     			}			
	     			];
	  var myPie = new Chart(document.getElementById("canvasPie").getContext("2d")).Pie(pieData);	  
}

function barChart(){
	
	var data = {
			labels : <?php echo $projectName ?>,
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					data : <?php echo $countTask ?>
				},
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					data : <?php echo $countMyTask?>
				}
			]
		}	

	options = {
			
			//Boolean - If we show the scale above the chart data			
			scaleOverlay : true,
			
			//Boolean - If we want to override with a hard coded scale
			scaleOverride : true,
			
			//** Required if scaleOverride is true **
			//Number - The number of steps in a hard coded scale
			scaleSteps : 15,
			//Number - The value jump in the hard coded scale
			scaleStepWidth : 5,
			//Number - The scale starting value
			scaleStartValue : 0,

			//String - Colour of the scale line	
			scaleLineColor : "rgba(0,0,0,.1)",
			
			//Number - Pixel width of the scale line	
			scaleLineWidth : 1,

			//Boolean - Whether to show labels on the scale	
			scaleShowLabels : true,
			
			//Interpolated JS string - can access value
			scaleLabel : "<%=value%>",
			
			//String - Scale label font declaration for the scale label
			scaleFontFamily : "'Arial'",
			
			//Number - Scale label font size in pixels	
			scaleFontSize : 12,
			
			//String - Scale label font weight style	
			scaleFontStyle : "normal",
			
			//String - Scale label font colour	
			scaleFontColor : "#666",	
			
			///Boolean - Whether grid lines are shown across the chart
			scaleShowGridLines : true,
			
			//String - Colour of the grid lines
			scaleGridLineColor : "rgba(0,0,0,.05)",
			
			//Number - Width of the grid lines
			scaleGridLineWidth : 1,	

			//Boolean - If there is a stroke on each bar	
			barShowStroke : true,
			
			//Number - Pixel width of the bar stroke	
			barStrokeWidth : 1,
			
			//Number - Spacing between each of the X value sets
			barValueSpacing : 5,
			
			//Number - Spacing between data sets within X values
			barDatasetSpacing : 0,
			
			//Boolean - Whether to animate the chart
			animation : true,

			//Number - Number of animation steps
			animationSteps : 60,
			
			//String - Animation easing effect
			animationEasing : "easeOutQuart",

			//Function - Fires when the animation is complete
			onAnimationComplete : null
			
		}

	var ctx = document.getElementById("canvasBar").getContext("2d");
	new Chart(ctx).Bar(data,options);
	
}
</script>