<?php
	namespace Application;
?>

<div class="span10 tab-content">
	<div class="navbar navbar-static" id="navbar-example">
		<div class="navbar-inner">
        	<div style="width: auto;" class="container">
            	               <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
                <a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> stats</button></a>                
                <div class="nav pull-right">	            	
					<a href="/app/users/project/<?php echo $currentProject->id?>"><button class="btn btn-primary" type="button"><i class="icon-eye-open"></i> Gérer les membres</button></a>                                         
                </div>               
			</div>
		</div>
	</div>
	<hr/>
	<div id="options">
		<a data-toggle="modal" class="muted" role="button" href="#addUser">	
			<button class="btn" type="button"><i class="icon-plus"></i> Ajouter un utilisateur</button>
		</a>
	</div>
	
    <hr>
    <div class="listUsersProject row-fluid sortable ui-sortable">		
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-file"></i> Liste des utilisateurs</h2>				
			</div>
			<div class="box-content">
				<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
					
					<table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="listUsersProject DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th>Login</th>
							<th>Email</th>
							<th>Actions</th>			
						</tr>
					</thead>					  					 
					<tbody role="alert" aria-live="polite" aria-relevant="all">						
							<?php echo $this->displayRessources($this)?>
						</tbody>
					</table>		
				</div><!--/span-->			
			</div>				
		</div>		
	</div>	
</div>
			
			

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
class="modal hide fade" id="addUser" style="display: none;">
	<div class="modal-header">

		<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>				
		<h4 id="addProject">Ajout d'un utilisateur dans <i><?php echo $currentProject->name; ?></i></h4>

	</div>
	<form action="/app/users/add/project/<?php echo $currentProject->id ?>" method="POST">
		<div class="modal-body">
			<label>Nom du user</label>
			<input name="username" type="text" placeholder="">
			
			<label>Mail</label>
			<input name="email" type="text" placeholder="">
 	
 			<label>Password</label>
			<input name="password" type="text" placeholder="">			
	
			<label>Display name</label>
			<input name="display_name" type="text" placeholder="">
		</div>
		<div class="modal-footer">
			<button aria-hidden="true" data-dismiss="modal" class="btn">Annuler</button>
			<button class="btn btn-primary">Ok</button>
		</div>
	</form>
	
	
	
</div>