<?php
	namespace Application;
?>     
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>A propos</h1>
				<p>
					Eprojets est un outil collaboratif en ligne dédié à la gestion de projets. Il permet de suivre l’évolution d’un projet en temps réel, depuis un ordinateur ou une tablette, de façon simple et intuitive. Toutes les fonctionnalités requises pour gérer un projet sont alors disponibles peu importe l’endroit où l’on se trouve et toutes les ressources sont centralisées dans un seul endroit. Le design de l’application est responsive et donc s’adapte à d’autres résolutions d’écran.
				</p>
				 
			</div>
		</div>      
      <div class="row">
        <div class="span4">
          <h3><?php echo sprintf($this->translate('Organisez vos projets', __NAMESPACE__)) ?></h3>
          <p><?php echo sprintf($this->translate('Tous vos projets sont regroupés dans le même espace, vous permettant de switcher entre les projets rapidement et simplement.', __NAMESPACE__)) ?></p>
          <p><a class="btn" href="#"><?php echo sprintf($this->translate('En savoir plus', __NAMESPACE__)) ?> &raquo;</a></p>
        </div>
        <div class="span4">
          <h3><?php echo sprintf($this->translate('Découpez en plusieurs tâches', __NAMESPACE__)) ?></h3>
          <p><?php echo sprintf($this->translate('Le gestionnaire de tâches vous permet de découper vos projets en une multitude de tâches, et de les assigner aux ressources adéquates', __NAMESPACE__)) ?></p>
          <p><a class="btn" href="#">En savoir plus &raquo;</a></p>
       </div>
        <div class="span4">
          <h3><?php echo sprintf($this->translate('Suivez l\'avancement global', __NAMESPACE__)) ?></h3>
          <p>Vous pouvez suivre à n'importe quel moment l'avancement global d'un projet, visualiser les tâches achevées ou en retard, les jalons à suivre ou ceux ratés.</p>
          <p><a class="btn" href="#">en savoir plus &raquo;</a></p>
        </div>
      </div>
     </div>