<?php
	namespace Application;
?>
      <div class="container">     
      	 	
      	 <form action="./contact" method="POST" class="well span12">
      	 	<h2>Contact</h2>
      	 	<?php if(count($flashMessages)) : ?>
			<ul>
    		<?php foreach ($flashMessages as $msg) : ?>
    			<li><?php echo $msg; ?></li>
    		<?php endforeach; ?>
			</ul>
			<?php endif; ?>
  			<div class="row">  				
  				<div class="span1">  					
  				</div>
				<div class="span4">
					<label>Nom</label>
					<input type="text" name="firstname" class="span6" placeholder="Nom">
					<label>prénom</label>
					<input type="text" class="span6" placeholder="Prénom" name="lastname">
					<label>Email</label>
					<input type="text" class="span6" placeholder="Email" name="email">
					<label>Subject</label>
					<select id="subject" name="subject" class="span6">
						<option value="na" selected="">Choisissez un sujet :</option>
						<option value="service">Service Client</option>
						<option value="suggestions">Suggestions</option>
						<option value="product">Aide</option>
					</select>				
				</div>
				<div class="span5">
					<label>Message</label>
					<textarea name="message" id="message" class="input-xlarge span12" rows="10"></textarea>					
				</div>
				
			</div>
			<button type="submit" class="btn btn-primary pull-right">Send</button>
		</form>
      </div>      	