<?php
	namespace Application;
?>
      <div class="hero-unit">
	  	<div style="float:right; margin-top:-30px; background-color:#FFF;">
	  		<video width="400" height="222" controls="controls">
  				<source src="eprojets-video.oggtheora.ogv" type="video/ogg" />  				  				
			</video>
	  	</div>
        <h1>Eprojets</h1>
        <p><?php echo sprintf($this->translate('Outil collaboratif de gestion de projets en ligne', __NAMESPACE__)) ?>.</p>
        <p><a href="#" class="btn btn-primary btn-large">Nous rejoindre</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h3><?php echo sprintf($this->translate('Organisez vos projets', __NAMESPACE__)) ?></h3>
          <p><?php echo sprintf($this->translate('Tous vos projets sont regroupés dans le même espace, vous permettant de switcher entre les projets rapidement et simplement.', __NAMESPACE__)) ?></p>
          <p><a class="btn" href="#"><?php echo sprintf($this->translate('En savoir plus', __NAMESPACE__)) ?> &raquo;</a></p>
        </div>
        <div class="span4">
          <h3><?php echo sprintf($this->translate('Découpez en plusieurs tâches', __NAMESPACE__)) ?></h3>
          <p><?php echo sprintf($this->translate('Le gestionnaire de tâches vous permet de découper vos projets en une multitude de tâches, et de les assigner aux ressources adéquates', __NAMESPACE__)) ?></p>
          <p><a class="btn" href="#">En savoir plus &raquo;</a></p>
       </div>
        <div class="span4">
          <h3><?php echo sprintf($this->translate('Suivez l\'avancement global', __NAMESPACE__)) ?></h3>
          <p>Vous pouvez suivre à n'importe quel moment l'avancement global d'un projet, visualiser les tâches achevées ou en retard, les jalons à suivre ou ceux ratés.</p>
          <p><a class="btn" href="#">en savoir plus &raquo;</a></p>
        </div>
      </div>