<?php
	namespace Application;
?>
<div class="span10 tab-content">	  	
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?></a><span class="divider">/</span>
			</li>
			<li>
				<a href="#">Documents</a> 
			</li>
			
		</ul>
	</div>

	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
				<a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> stats</button></a>
                <div class="nav pull-right">
                	<a data-toggle="modal" class="muted" role="button" href="/app/docs/add/project/<?php echo $currentProject->id;?>">	
							<button class="btn btn-success" type="button"><i class="icon-file"></i> Nouveau document</button>
					</a>                                  
                </div>               
			</div>
		</div>
	</div>
	
	
		<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-file"></i> Nouveau document dans le projet : <?php echo $currentProject->name?></h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-plus"></i></a>					
				</div>
			</div>	
			<div class="box-content">
				<form class="formular form-horizontal" enctype="multipart/form-data" action="/app/docs/add/project/<?php echo $currentProject->id ?>" method="POST">
					<fieldset>							
						<div class="control-group">
							<?php if (isset ($error)) {
	       						echo $error;
	       					}?>
							<label class="control-label" for="typeahead">Choisissez un fichier </label>
							<div class="controls">
								<input name="fileupload" type="file" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" data-source='[""]'>								
							</div>
						</div>
							          
						<div class="control-group">
							<label class="control-label" for="textarea2">Description (Optionnelle)</label>
							<div class="controls">
								<textarea name="description validate[required,length[6,300]] text-input" class="cleditor" id="textarea2" rows="3"></textarea>
							</div>
						</div>
						
						
						<div class="control-group">							
							<label for="" class="control-label">Notifier par E-mail</label>
							<div class="controls">
								<input name="envoieMail" data-no-uniform="true" type="checkbox" class="iphone-toggle">
							</div>
						</div>
						
						<div class="form-actions">
							<button type="submit" class="btn btn-primary submit">Enregistrer</button>
							<a href="/app/docs/project/<?php echo $currentProject->id ?>">
								<button type="reset" class="btn">Annuler</button>
							</a>
						</div>
										       																								
					</fieldset>
				</form> 																			
			</div>
		</div> 
	</div>
	
</div>







