<?php
	namespace Application;
?>
<div class="span10 tab-content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?></a><span class="divider">/</span>
			</li>
			<li>
				<a href="#">Documents</a> 
			</li>
			
		</ul>
	</div>
	
	
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
<a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-signal"></i> Statistiques</button></a>
                <div class="nav pull-right">
                	<a data-toggle="modal" class="muted" role="button" href="/app/docs/add/project/<?php echo $currentProject->id;?>">	
							<button class="btn btn-success" type="button"><i class="icon-file"></i> Nouveau document</button>
					</a>                                  
                </div>               
			</div>
		</div>		
	</div>
	
	<div class="row-fluid sortable ui-sortable">		
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-file"></i> Liste des documents</h2>				
			</div>
			<div class="box-content">
				<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
					
					<table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">					  					 
						<tbody role="alert" aria-live="polite" aria-relevant="all">						
							<?php echo $this->displayDocs($this)?>
						</tbody>
					</table>		
				</div><!--/span-->			
			</div>				
		</div>		
	</div>
	
	</div>
	
	
		