<?php
	namespace Application;
	use Application\Helper;
?>

<div id="content" class="span10 content-tour">
<!-- content starts -->

	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Tableau de bord</a>
			</li>			
		</ul>
		
		
	</div>
	
	<div class="sortable row-fluid tour">
		<a data-rel="tooltip" title="Les projets qui me sont affectés" class="well span3 top-block" href="#">
			<span class="icon32 icon-red icon-suitcase"></span>
			<div>Mes projets</div>			
			<div><?php echo $this->displayProjectsCount($user)?></div>
			
		</a>
		<a data-rel="tooltip" title="Mes pense-bêtes" class="well span3 top-block" href="#">
			<span class="icon32 icon-color icon-pin"></span>
			<div>Mes pense-bêtes</div>
			<div><?php echo $this->displayPenseBetesCount($user)?></div>					
		</a>
		<a data-rel="tooltip" title="Les tâches qui me sont affectées" class="well span3 top-block" href="#">
			<span class="icon32 icon-color icon-calendar"></span>
			<div>Mes tâches</div>
			<div><?php echo $this->displayMyTasksCount($user)?></div>			
		</a>			
		<a data-rel="tooltip" title="Les jalons dont je suis responsable" class="well span3 top-block" href="#">
			<span class="icon32 icon-color icon-date"></span>
			<div>Mes jalons</div>
			<div><?php echo $this->displayMyJalons($user, array('config' => 'count'))?></div>			
		</a>
	</div>
	<div class="row-fluid sortable">
		<div class="box span6">
			<div class="box-header well">
				<h2><i class="icon-th"></i> Informations critiques</h2>
				<div class="box-icon">
					<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<ul class="nav nav-tabs" id="dashboard-critical">
					<li class="active"><a href="#jalons-dashboard">Jalons à l'approche</a></li>
					<li><a href="#tasks-dashboard">Tâches critiques</a></li>							
				</ul>
						 
				<div id="dashboard-criticalContent" class="tab-content">
					<div class="tab-pane active" id="jalons-dashboard">
						<?php echo $this->displayMyJalons($user, array('config' => 'active'))?> 
					</div>
					<div class="tab-pane" id="tasks-dashboard">						
						 <?php echo $this->displayMyTasks($user, array('config' => 'active'))?>						
					</div>					
				</div>
				
			</div>
		</div><!--/span-->				
		
		<div class="box span6">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-user"></i> Activités récentes</h2>
				<div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="box-content">
					<?php echo $this->displayActiviteRecente($user, array('config' => 'active'))?>						
				</div>
			</div>
		</div><!--/span-->
		
		
				
	