<?php
	namespace Application;
?>

<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="/app">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?> </a>
			</li>						
		</ul>
	</div>		  	
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
               <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
                <a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> stats</button></a>                <div class="nav pull-right">	            						                                        
                </div>               
			</div>
		</div>
	</div>
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-list-alt"></i> Ajout d'une liste de tâches</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">
				<form class="formular form-horizontal" action="/app/tasks/addList/project/<?php echo $currentProject->id ?>" method="POST">
					<fieldset>							
						<div class="control-group">
							<label class="control-label" for="typeahead">Nom de la liste </label>
							<div class="controls">
								<input name="name" type="text" class="validate[required,length[0,200]]  span6 typeahead" id="name"  data-provide="typeahead" data-items="4" data-source='[""]'>								
							</div>
						</div>
							          
						<div class="control-group">
							<label class="control-label" for="textarea2">Description</label>
							<div class="controls">
								<textarea name="description" class="cleditor" id="textarea2" rows="3"></textarea>
							</div>
						</div>						
						<div class="control-group">
							<label for="selectError" class="control-label">Associer à un jalon</label>
							<div class="controls">
								<select name="jalon_id">
			  						<option value="-1" selected>Aucun</option>
		  							<?php foreach ($jalons as $jalon){?>
		  							<option value="<?php echo $jalon->getId();?>" >
		  							<?php echo $jalon->getName();?>
		  							</option>
		  							<?php }?>
								</select>
							</div>
						</div>
						
						<div class="form-actions">
							<button type="submit" class="submit btn btn-primary">Enregistrer</button>
							<a href="/app/tasks/project/<?php echo $currentProject->id ?>">
								<button type="reset" class="btn">Annuler</button>
							</a>
						</div>
					</fieldset>
				</form> 																			
			</div>
		</div> 
	</div>
</div>
</div>