<?php
	namespace Application;
?>

<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?></a><span class="divider">/</span>
			</li>
			<li>
				<a href="#">Tâches</a> 
			</li>
		</ul>
	</div>	
		 
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                               <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
                <a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                      
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-signal"></i> Statistiques</button></a>
                <div class="nav pull-right">	            	
                	<a href="/app/tasks/addList/project/<?php echo $currentProject->id; ?>"><button class="btn btn-success" type="button"><i class="icon-list"></i> Ajouter une liste de tâches</button></a>					
                </div>               
			</div>
		</div>
	</div>
	
		
	<?php echo $this->displayTasks($this)?>  	
	
</div>
</div>