<?php
	namespace Application;

?>
<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="/app">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?></a><span class="divider">/</span>
			</li>
			<li>
				<a href="#">Tâche</a> 
			</li>					
		</ul>
	</div>		  	
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                               <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
               <a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                      
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> stats</button></a>
                 <div class="nav pull-right">	            	
                	<a href="/app/tasks/addList/project/<?php echo $currentProject->id; ?>"><button class="btn btn-success" type="button"><i class="icon-list"></i> Ajouter une liste de tâches</button></a>					
                </div>              
			</div>
		</div>
	</div>
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-list"></i> Modification d'une tâche dans "<?php echo $currentListTasks->getName()?>"</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">
				<form class="formular form-horizontal" action="/app/tasks/update/<?php echo $currentListTasks->getId(); ?>/<?php echo $taskUpdate->getId(); ?>/project/<?php echo $currentProject->id ?>" method="POST">
					<fieldset>
							
						<div class="control-group">							
							<label for="" class="control-label">État </label>
							<div class="controls">
								<input name="status" data-no-uniform="true" type="checkbox" <?php if ($taskUpdate->getStatus() == 1) echo 'checked'; ?> class="iphone-toggle">(Terminer, En cours)
							</div>
						</div>
						
											
						<div class="control-group">
							<label class="control-label" for="typeahead">Nom de la tâche </label>
							<div class="controls">
								<input name="name" type="text" class="validate[required,length[0,200]]  span6 typeahead" id="name"  data-provide="typeahead" data-items="4" data-source='[""]' value="<?php echo $taskUpdate->getName(); ?>">								
							</div>
						</div>
							          
						<div class="control-group">
							<label class="control-label" for="textarea2">Description</label>
							<div class="controls">
								<textarea name="description" class="cleditor" id="textarea2" rows="3" ><?php echo $taskUpdate->getDescription(); ?></textarea>
							</div>
						</div>
						<?php
		 				$dateDebut = null;
		 				$dateEnd = null;
		 				if ($taskUpdate->getStartDate() != null){
							//var_dump($taskUpdate->getStartDate());
		 					$dDebut = explode(' ', $taskUpdate->getStartDate());
		 					$dd = explode(':', $dDebut[1]);
		 					$dateDebut = $dDebut[0] . ' ' . $dd[0] . ':' . $dd[1];		 					
		 				}
		 				if ($taskUpdate->getEndDate() != null){
							//var_dump($taskUpdate->getEndDate());
			 				$dEnd = explode(' ', $taskUpdate->getEndDate());
			 				$df = explode(':', $dEnd[1]);
			 				$dateEnd = $dEnd[0] . ' ' . $df[0] . ':' . $df[1];
		 				}
		 				?>
						<div class="control-group">
							<label for="dateDebut" class="control-label">Date de début</label>
							<div class="controls">
								<input name="start_date" type="text" id="start_date" value="<?php  echo $dateDebut; ?>" class="validate[required]  datepicker">
							</div>
						</div>
						<div class="control-group">
							<label for="dateFin" class="control-label">Date de fin</label>
							<div class="controls">
								<input name="end_date" type="text" id="dateFin" value="<?php  echo $dateEnd; ?>" class="datepicker">
							</div>
						</div>											
						
						<div class="control-group">							
							<label for="" class="control-label">Rappel</label>
							<div class="controls">
								<input name="rappel" data-no-uniform="true" type="checkbox" <?php if ($taskUpdate->getRappel() == 1) echo 'checked'; ?> class="iphone-toggle">
							</div>
						</div>
						
						<div class="control-group">							
							<label for="" class="control-label">Assigner des personnes</label>														
							<div class="controls">
								<div class="addUsers">
								<?php foreach ($users as $u){?>
									<?php if ($taskUpdate->verifUser($u->user->__get('user_id'))){?>
										<div style="fload:left;" class="remove-<?php echo $u->user->__get('user_id'); ?>" id="<?php echo $u->user->__get('display_name'); ?>">
											<a class="user" id="<?php echo $u->user->__get('user_id'); ?>" href="#">
												<?php echo $u->user->__get('display_name'); ?>
											</a>&nbsp;&nbsp;&nbsp;
											<input type="hidden" name="choixUser[]" value="<?php echo $u->user->__get('user_id'); ?>">
											<div class="input-append remove-<?php echo $u->user->__get('user_id'); ?>" id="<?php echo $u->user->__get('display_name'); ?>">											
												<input name="chargeUsers[]" value="<?php echo $taskUpdate->getChargeByUser($u->user->__get('user_id'))?>" class="span2" id="appendedInput" type="text">
												<span class="add-on">:Min</span>&nbsp;
												<a id="remove-<?php echo $u->user->__get('user_id');?>" class="delete-userTask" href="#">x</a>
											</div>
											<br><br>																																							
										</div>
										<?php } } ?>
								<div>
									<a data-toggle="modal" href="#AddUser" class="btn ">Ajouter</a>
									<br>
									<br>
								</div>
							</div>
						</div>													
						
						<div class="control-group">							
							<label for="" class="control-label">Notifier par E-mail</label>
							<div class="controls">
								<input name="envoieMail" data-no-uniform="true" type="checkbox" class="iphone-toggle" <?php if ($taskUpdate->getRappel() == 1) echo 'checked'; ?>>
							</div>
						</div>
						<div class="control-group">							
							<label for="" class="control-label">Pièces jointes</label>														
							<div class="controls">
								<div class="addDocs">																																									
								<?php foreach ($listDocs as $doc) {?>
									<p class="remove-<?php echo $doc->getId()?>" id="<?php echo $doc->getName();?>">
										<a class="doc" id="<?php echo $doc->getId()?>" href="#">
											<?php echo $doc->getName();?>
										</a>
										<input type="hidden" name="docs[]" value="<?php echo $doc->getId()?>">
										<a id="remove-<?php echo $doc->getId()?>" class="delete-docTask" href="#">  x</a>
										<br><br>
									</p>									
								<?php }?>
								<a data-toggle="modal" href="#myModal" class="btn ">Ajouter</a>
								</div>
							</div>
						</div>				       																								
						
						<div class="form-actions">
							<button type="submit" class="submit btn btn-primary">Enregistrer</button>
							<a href="/app/jalon/project/<?php echo $currentProject->id ?>">
								<button type="reset" class="btn">Annuler</button>
							</a>
						</div>
						
					</fieldset>
				</form> 																			
			</div>
		</div> 
	</div>
</div>
</div>
<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Ajouter une pièce jointe</h4>
        </div>
        <div class="modal-body" id="addDocForm">
        	<?php if ($listAllDocs == null) {?>
        		<div class="alert">
					  	<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>Attention!</strong> Aucun document dans le projet 
						<a data-toggle="modal" class="muted" role="button" href="/app/docs/add/project/<?php echo $currentProject->__get('id');?>">	
							<button class="btn btn-success" type="button"><i class="icon-file"></i> Nouveau document</button>
						</a>
				</div>
        	<?php } else {
			foreach ($listAllDocs as $ld){
				 $bool = false;
				 foreach ($listDocs as $doc) {
						if ($doc->getId() == $ld->getId()){
							$bool = true;
						}
				}
				if ($bool == false) {?>
					<div class="doc-<?php echo $ld->getId(); ?>">		  							  		
						<a class="add-doc" id="<?php echo $ld->getId();?>|<?php echo $ld->getName();?>" href="#" data-dismiss="modal"><?php echo $ld->getName();?></a><br>
					</div>	  							  				  		
		  	<?php } } }?>          	        
        </div>
        <div class="modal-footer">                
            <button class="btn btn-primary" data-dismiss="modal">Sortir</button>       
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal for Users -->
  <div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Ajouter une ressource</h4>
        </div>
        <div class="modal-body" id="addUserForm">
        
			<?php foreach ($users as $u){?>	
				<?php if (!$taskUpdate->verifUser($u->user->__get('user_id'))) {?>
				<div class="user-<?php echo $u->user->__get('user_id'); ?>">		  							  		
		  			<a class="add-user" id="<?php echo $u->user->__get('user_id');?>|<?php echo $u->user->__get('display_name');?>" href="#" data-dismiss="modal"><?php echo $u->user->__get('display_name');?></a><br>
		  		</div>
		  		<?php } ?>
		  	<?php } ?>          	        
        </div>
        <div class="modal-footer">                
            <button class="btn btn-primary" data-dismiss="modal">Sortir</button>       
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->