<?php
	namespace Application;
?>

<script language="Javascript">
var One=true;
var Int;

  
	
	 
</script>
<div class="span10" id="content">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="/app">Mon espace</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Projet</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#"><?php echo $currentProject->name ?> </a><span class="divider">/</span>
			</li>
			<li>
				<a href="#">Tâche</a>
			</li>						
		</ul>
	</div>		  	
	<div class="navbar navbar-static" id="">
		<div class="navbar-inner">
        	<div>            	
                               <a href="/app/project/<?php echo $currentProject->id ?>/timeline"><button class="btn" type="button"><i class="icon-road"></i> Timeline</button></a>
                <a href="/app/calendar/calendarProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-calendar"></i> Calendrier</button></a>                       
                <a href="/app/tasks/project/<?php echo $currentProject->id ?>"><button class="btn btn-primary" type="button"><i class="icon-list"></i> Tâches</button></a>                  
                <a href="/app/jalon/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-time"></i> Jalons</button></a>                
                <a href="/app/docs/project/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> Documents</button></a>
                <a href="/app/statistique/statProject/<?php echo $currentProject->id ?>"><button class="btn" type="button"><i class="icon-book"></i> stats</button></a>
                 <div class="nav pull-right">	            	
                	<a href="/app/tasks/addList/project/<?php echo $currentProject->id; ?>"><button class="btn btn-success" type="button"><i class="icon-list"></i> Ajouter une liste de tâches</button></a>					
                </div> 
			</div>
		</div>
	</div>
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-list"></i> Aperçu de la tache "<?php echo $taskUpdate->getName()?>"</h2>
				<div class="box-icon">					
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>					
				</div>
			</div>	
			<div class="box-content">
				<form class="form-horizontal" action="#" method="POST">
					<fieldset>
							
						<div class="control-group">							
							<label for="" class="control-label">État </label>
							<div class="controls">
								<input name="status" data-no-uniform="true" disabled="disabled" type="checkbox" <?php if ($taskUpdate->getStatus() == 1) echo 'checked'; ?> class="iphone-toggle">(Terminer, En cours)
							</div>
						</div>
						
											
						<div class="control-group">
							<label class="control-label" for="typeahead">Nom de la tâche </label>
							<div class="controls">
								<input name="name" type="text" disabled="disabled" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" data-source='[""]' value="<?php echo $taskUpdate->getName(); ?>">								
							</div>
						</div>
							          
						<div class="control-group">
							<label class="control-label" for="textarea2">Description</label>
							<div class="controls">
								<textarea name="description" class="cleditor" id="textarea2" rows="3" ><?php echo $taskUpdate->getDescription(); ?></textarea>
							</div>
						</div>
						<?php
		 				$dateDebut = null;
		 				$dateEnd = null;
		 				if ($taskUpdate->getStartDate() != null){
							//var_dump($taskUpdate->getStartDate());
		 					$dDebut = explode(' ', $taskUpdate->getStartDate());
		 					$dd = explode(':', $dDebut[1]);
		 					$dateDebut = $dDebut[0] . ' ' . $dd[0] . ':' . $dd[1];		 					
		 				}
		 				if ($taskUpdate->getEndDate() != null){
							//var_dump($taskUpdate->getEndDate());
			 				$dEnd = explode(' ', $taskUpdate->getEndDate());
			 				$df = explode(':', $dEnd[1]);
			 				$dateEnd = $dEnd[0] . ' ' . $df[0] . ':' . $df[1];
		 				}
		 				?>
						<div class="control-group">
							<label for="dateDebut" class="control-label">Date de début</label>
							<div class="controls">
								<input name="start_date" type="text" disabled="disabled" id="dateDebut" value="<?php  echo $dateDebut; ?>" class="datepicker">
							</div>
						</div>
						<div class="control-group">
							<label for="dateFin" class="control-label">Date de fin</label>
							<div class="controls">
								<input name="end_date" type="text" disabled="disabled" id="dateFin" value="<?php  echo $dateEnd; ?>" class="datepicker">
							</div>
						</div>												
						
						<div class="control-group">							
							<label for="" class="control-label">Rappel</label>
							<div class="controls">
								<input name="rappel" data-no-uniform="true" type="checkbox" <?php if ($taskUpdate->getRappel() == 1) echo 'checked'; ?> disabled="disabled" class="iphone-toggle">
							</div>
						</div>												
						
						<div class="control-group">							
							<label for="" class="control-label">Personnes Assigner</label>														
							<div class="controls">
								<div class="addUsers">
								<?php foreach ($users as $u){?>
									<?php if ($taskUpdate->verifUser($u->user->__get('user_id'))){?>
										<div style="fload:left;" class="remove-<?php echo $u->user->__get('user_id'); ?>" id="<?php echo $u->user->__get('display_name'); ?>">
											<a class="user" id="<?php echo $u->user->__get('user_id'); ?>" href="/app/users/project/<?php echo $currentProject->id; ?>">
												<?php echo $u->user->__get('display_name'); ?>
											</a>&nbsp;&nbsp;&nbsp;
											<div class="input-append remove-<?php echo $u->user->__get('user_id'); ?>" id="<?php echo $u->user->__get('display_name'); ?>">											
												<input disabled="disabled" name="chargeUsers[]" value="<?php echo $taskUpdate->getChargeByUser($u->user->__get('user_id'))?>" class="span2" id="appendedInput" type="text" >
												<span class="add-on">:Min</span>&nbsp;
											</div>
											<br><br>																																							
										</div>
										<?php } } ?>								
							</div>
						</div>	
						
						<div class="control-group">							
							<label for="" class="control-label">Pièces jointes</label>														
							<div class="controls">
								<?php foreach ($listDocs as $doc) {?>
									<p><a href="/app/docs/project/<?php echo $currentProject->id; ?>"><?php echo $doc->getName(); ?></a> </p>
								<?php }?>
							</div>
						</div>																				
					</fieldset>
					<?php $progression = floatval($taskUpdate->getProgression());
					$heure = (int)($progression/60);
					$minute = ($progression % 60);

					$val = '';
					if ($heure < 10)
						$val .= '0'.$heure.':';
					else 
						$val .= $heure.':';
					if ($minute < 10)
						$val .= '0'.$minute.':00:00';
					else 
						$val .= $minute.':00:00';					
					?>
					<fieldset>
						<legend>Chrono</legend>
						<input type="hidden" id="idProject" value="<?php echo $currentProject->id;?>">
						<input type="hidden" id="idListTask" value="<?php echo $taskUpdate->getListtasksId();?>">
						<input type="hidden" id="idTask" value="<?php echo $taskUpdate->getId(); ?>"> 	  					
	  					<input type="button" class="btn btn-danger" id="arreter" value="Arreter" Onclick="SetStop(true)"> &nbsp;&nbsp;&nbsp;
	  					<input type="text" id="time" name="Text_1" value="<?php echo $val;?>"> &nbsp;&nbsp;&nbsp;	  									
                                                <input type="button" class="btn btn-success" id="demArr" value="Démarrer" Onclick="SetInt()"> &nbsp;&nbsp;&nbsp;
					</fieldset>				
				</form>								 																			
			</div>
		</div> 
	</div>
</div>
</div>
